.products-container {
	.product {
		padding: 2rem;
		background: transparentize(black , .5);
		background-repeat: no-repeat;
		color: white;
		font-size: 2rem;
		font-weight: lighter;
		text-align: center;
		h2 {
			border-bottom: .5px solid white;
			font-weight: lighter;
			letter-spacing: 2px;
			padding-bottom: .5rem;
		}
	}
}
