.wallet {
	padding: 1rem;
	background: transparentize(black , .1);
	background-repeat: no-repeat;
	color: white;
	opacity: .5;
	padding-left: 8rem;
	text-align: center;
	&#currentWallet {
		opacity: .8;
	}
}
