.wallets-container {
	background: transparentize(black, .5);
	padding: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	h2 {
		border-bottom: .5px solid white;
		font-weight: lighter;
		letter-spacing: 2px;
		padding-bottom: .5rem;
	}
}
.wallet {
	padding: 2rem;
	background: transparentize(black , .1);
	background-repeat: no-repeat;
	color: white;
	font-size: 2rem;
	font-weight: lighter;
	opacity: .3;
	outline: 1px solid white;
	outline-offset: -1rem;
	text-align: center;
	&#currentWallet {
		opacity: .8;
	}
}
